{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'ubereats_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ubereats_app/css/style.css' %}?{% now "U" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="col-lg-10 offset-lg-2 col-md-10 offset-md-2 col-sm-10 offset-sm-2 content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'ubereats_app/js/bootstrap.min.js' %}"></script>
</body>
</html>
