.bg-blue {
    background-color: #3f3f63;
}

.card {
    margin: 50px 0 50px 0;
    padding: 30px;
}

.btn-pink {
    color: white;
    background-color: #ee5462;
}

.btn-pink:hover,
.btn-pink:focus {
    color: white;
    background-color: #da4f5d;
}
